extends ../../templates/_template

block variables
  - var title = 'Index pages'
  
block content
  .wrapper
    .content
      section.header
        <!-Start section header-->
          p header
          button.button.btn__more Привет
        <!-end section header-->
      section.slider
      <!-Start section slider-->
      <!-end section slider-->
      section.offer
      <!-Start section offer-->
      <!-end section offer-->
      section.listoffer
      <!-Start section header-->
      <!-end section header-->
      section.services
      <!-Start section services-->
      <!-end section services-->
      section.directions
      <!-Start section directions-->
      <!-end section directions-->
      section.education
      <!-Start section education-->
      <!-end section education-->
      section.studio
      <!-Start section header-->
      <!-end section header-->
      section.about
      <!-Start section about-->
      <!-end section about-->
      section.features
      <!-Start section features-->
      <!-end section features-->
      section.clients
      <!-Start section clients-->
      <!-end section clients-->
      section.bonus
      <!-Start section bonus-->
      <!-end section bonus-->
      section.contact
        <!-Start section contact-->
        <!-end section contact-->
    footer.footer
      <!-Start section footer -->
      <!-end section footer-->