.welcome__wrapper {
    background: url('../img/bg_forest.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.header__white {
    color: white;
}

.container {
    background-color: rgba(18, 38, 32, 0.6);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-family: $mainfonthover;
    font-size: $mainsize;
    color: $white;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid $white;
    border-radius: 30px;
    text-decoration: none;
}

.welcome__button {
    align-self: flex-end;
    right: 50px;
    position: absolute;
    top: 25px;
}

.welcome__main {
    margin-bottom: 200px;
}