
@include laptop {
 .mix{
   color: black;
 }
}


@include laptop {
  .mix{
    width: 1256px
  }
 }

//@import 'smart-grid';
/*
.items{
  @include row-flex();
  @include md(justify-content, center);

  .item{
      @include col();
      @include size(4);
      @include size-md(6);
      @include size-xs(12);
      background-color: black;
      min-width: 150px;
      height: 200px;
      border-color: green;
  }
}

@include laptop{
  footer{
    color: black;
  }
}

@include desktop{
  footer{
    color: black;
  }
}


@include laptop{
  footer{
    font-size: red;
  }
}

@include laptop{
  footer{
    bgcolor: red;
  }
}
/*.block {
    background-color: green;
    justify-content: center;
    padding-left: 10px;
    padding-left: 10px;
    @include desktop {
        background-color: red;
    }
    @include laptop {
        background-color: blue;
    }
    @include tablet {
        background-color: yellow;
    }
    @include phone {
        background-color: gray;
    }
}

.header {
    background-color: violet;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.footer {
    height: 100px;
    @include flex-column;
    @include center-center;
    background-color: red;
}*/