extends ../template/pages/_template

block variables
  - var title = 'Index pages'
  


block content
  .wrapper--page
    .content
      header.header
        .wrapper     
          include ../template/common/_header
      main.main
        .wrapper     
          .row
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Приветs
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Приветss
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Приветsss
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
            .block.col-lg-1.col-md-3.col-sm-6.col-xs-12
              p Привет
    .footer.footer
      .wrapper
        p Футер