html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}


/*Заголовок блока h2*/

.header {
    font-family: $headerfont;
    font-size: $headersize;
    color: $headercolor;
    &::after {
        padding-top: 32px;
        content: "";
        width: 90px;
        height: 3px;
        background-color: $headercolor;
    }
}

.text {
    font-family: $mainfont;
    font-size: $mainsize;
    color: $headercolor;
}

.header-section {
    min-height: 650px;
    width: 100%;
    display: flex;
    background: url('/assets/img/bg_forest.png') no-repeat;
    background-size: cover;
}

.triangle {
    position: absolute;
    width: 100%;
    &__left {
        position: relative;
        left: 0;
        bottom: 100%;
        &-fill {
            &-beige {
                fill: #fbf9f1;
            }
            &-white {
                fill: #f8f9f5;
            }
            &-gray {
                fill: #ebefe2;
                ;
            }
            &-gray-white {
                fill: #f4f5f0;
            }
        }
    }
    &__right {
        position: relative;
        right: 0;
        &-fill {
            &-beige {
                fill: #fbf9f1;
            }
            &-white {
                fill: #f8f9f5;
            }
            &-gray {
                fill: #ebefe2;
                ;
            }
            &-gray-white {
                fill: #f4f5f0;
            }
        }
    }
}