/*Цвета*/

$white: #fff;
$hovergreencolor: #4e8839;
$hovergreencolor2: #497f39;
$menuhovercolor: #457935;
$menucolor: #5f8a51;
$menuaftecolor: #9fb79c;
$greencolor2: #608e54;
$textcolorgreen:#628f54;
$formgreenipadhover: #65873d;
$greencolor: #6c9c5a;
$formgreenipad: #7e9b5c;
$roundskillcoloractive: #74a163;
$footergreen: #81a971;
$footericonipad: #a0a1a3;
$footericon: #a9acae;
$form__color: #f0efe9;
$formiconcolor: #d0d5d4;
$roundskillcolor: #dfdcd5;
$maintextcolor: #373e42;
$footegray: #53595d;
$headercolor: #566358;
$logingray:#6d7976;
$formcolorgray: #909f99;

/*Шрифты*/

$headerfont: 'Sansus Webissimo';
$mainfont: 'RobotoRegular';
$mainfonthover: 'RobotoMedium';
$footerfont: 'Roboto light';
$footerfontcite: 'Roboto light italic';
$footerfontauth: 'Roboto light italic bold';
$footermenu: 'Roboto bold';

/*Размер шрифта*/

$h1size: 63px;
$h1sizeipad: 49px;
$headersize: 35px;
$h2sizeipad: 30px;
$h3size: 28px;
$headadmin: 21px;
$mainsize: 16px;
$mainsizeipad: 14px;
$skillsize: 13.96px;
$skillsizeipad: 12.83px;